.section {
    background-color: var(--primary-color);
}

.dish__type__form__title {
    text-transform: uppercase;
    font-size: 8vw;
    font-weight: 400;
    margin-bottom: 3vh;
    letter-spacing: -0.25rem;
    color: var(--back-color);
}

.title__letter, .another__letter {
    display: inline-block;
    opacity: 0;
    filter: blur(10px);
    transform: translate3d(15px, 0, 0);
}

/*form----------------------------------------------*/
.form__group {
    display: flex;
    align-items: center;
    margin-bottom: 8vh;
}

.form__body {
    display: flex;
    margin-top: 10vh;
    justify-content: center;
}

.dish__type__name__label {
    max-height: max-content;
    color: var(--back-color);
    white-space: nowrap;
}

.dish__type__name__input {
    font-family: "Cormorant Garamond", serif;
    font-size: clamp(16px, 2vw, 21px);
    width: 100%;
    font-weight: 500;
    white-space: nowrap;
    padding: 0.13rem 0;
    font-style: italic;
    color: var(--back-color);
    background-color: var(--primary-color);
    outline: none;
    opacity: 0;
    filter: blur(10px);
    transform: translate3d(15px, 0, 0);
}

.form__button {
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    font-size: clamp(18px, 2vw, 23px);
    font-weight: 500;
    color: var(--back-color);
    background-color: var(--primary-color);
}

.dish__type__name__input:hover,
.dish__type__name__input:focus {
    border: none;
    outline: none;
}

/*header---------------------------------------------*/
.logo {
    color: var(--back-color);
    font-weight: 400;
}

.menu__text {
    color: var(--back-color);
    font-weight: 500;
}

.fade__close {
    color: var(--back-color);
    font-weight: 500;
}

.header__menu {
    background-color: var(--primary-color);
}

.nav__list {
    color: var(--back-color);
}

.nav__link {
    color: var(--back-color);
    font-weight: 500;
}

.login__list__item__link {
    color: var(--back-color);
}

/*errors*/
.error__item {
    font-style: italic;
    color: var(--back-color);
    margin-bottom: 0.5rem;
}

/*media----------------------------------------*/
@media (max-width: 1025px) {
    .form__body {
        justify-content: start;
    }

    .dish__type__form__title {
        font-size: 10vw;
        letter-spacing: 0;
    }
}
