/*first-section---------------------------------------------*/
.home__main__page__body {
    position: relative;
    display: flex;
    flex-direction: column;
    will-change: transform;
}

.project__title {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3%;
}

.title__text {
    line-height: 0.84;
    font-weight: 500;
}

.title__text__f {
    font-size: 17.7vw;
    font-weight: 300;
    padding-left: 5px;
    letter-spacing: -0.03em;
}

.title__text__s {
    font-size: 37.75vw;
    font-weight: 400;
    margin-top: 30px;
    padding-right: 5px;
    letter-spacing: -0.05em;
    text-align: right;
}

.elise__text {
    display: inline-block;
    transform: translate3d(-2px, 0, 0);
}

/*big-text----------------------------------------------*/
.big__text__box {
    font-size: 5.0vw;
    line-height: 4.5vw;
    position: relative;
    font-weight: 500;
    letter-spacing: -.03em;
    padding-top: 33px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: justify;
    width: 100%;
}

.fade__text {
    display: inline-block;
    filter: blur(10px);
    transform: translate3d(10px, 0px, 0px);
    opacity: 0;
    will-change: transform, opacity, filter;
}

.about__abilities__box {
    margin-bottom: 15vh;
    text-align: justify;
}

.ability__item {
    display: inline;
}

.counter__info__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.info__list__item {
    display: flex;
    flex-direction: column;
}

.info__title {
    font-weight: 800;
    line-height: 1.5;
    white-space: nowrap;
}

.info__number {
    font-family: "Cormorant Infant", serif;
    text-align: center;
    font-weight: 700;
}

.numbers__block__info {
    margin-bottom: 15vh;
}

.fade__word__info {
    display: inline-block;
    filter: blur(10px);
    opacity: 0;
    transform: translate3d(10px, 0px, 0px);
    will-change: transform, opacity, filter;
}

.title__about__project {
    padding-bottom: 60px;
}

.title__about__project__text {
    font-size: 13.5vw;
    line-height: 0.71;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.fade__word__title {
    display: inline-block;
    filter: blur(10px);
    opacity: 0;
    transform: translate3d(10px, 0px, 0px);
    will-change: transform, opacity, filter;
}

.title__about__project__text__f {
    text-align: left;
}

.inner__text__el {
    display: inline-block;
    transform: translateX(-5px);
}

.title__about__project__text__s {
    text-align: right;
}

.inner__text__con {
    display: inline-block;
    transform: translateX(-4px);
}

.about__pr__box {
    position: relative;
    will-change: transform;
}

.about__project__text {
    font-size: 6.0vw;
    line-height: 7.0vw;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.04em;
}

.fade__word__about {
    display: inline-block;
    filter: blur(10px);
    opacity: 0;
    transform: translate3d(10px, 0, 0);
    will-change: transform, opacity, filter;
}

.italic__text {
    text-transform: lowercase;
    letter-spacing: normal;
}

.about__project__left {
    text-align: left;
}

.about__project__center {
    text-align: center;
}

.about__project__right {
    text-align: right;
}

/*abilities-body--------------------------------------------*/
/*.abilities__item::after {*/
/*    position: absolute;*/
/*    z-index: 14;*/
/*    content: "";*/
/*    display: block;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background-color: var(--primary-color);*/
/*    bottom: 0;*/
/*    transform: scaleY(0);*/
/*    transform-origin: bottom center;*/
/*    transition: transform 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95);*/
/*}*/

/*.abilities__item:hover::after {*/
/*    transform: scaleY(1);*/
/*}*/

/*info-section-----------------------------------------------------*/
.info__section__body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*about-me-block------------------------------------------*/
.about__me__box {
    display: flex;
    justify-content: space-between;
    will-change: transform;
}

.box__to__hide {
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}

.letter {
    display: inline-block;
    will-change: transform, opacity;
}
/*media---------------------------------------------------*/
@media (max-width: 997px) {
    .project__title {
        bottom: -1%;
    }

    .big__text__box {
        padding-top: 20px;
    }

    .big__text__box {
        font-size: 6.0vw;
        line-height: 6.5vw;
    }

    .numbers__block__info {
        margin-bottom: 10vh;
    }

    .title__about__project__text {
        font-size: 18vw;
        line-height: 0.71;
    }

    .title__about__project {
        padding-bottom: 30px;
    }

    .inner__text__con {
        transform: translateX(0px);
    }

    .about__project__text {
        font-size: 6.0vw;
        line-height: 10.0vw;
    }
}

@media (max-width: 768px) {
    .project__title {
        bottom: -1%;
    }

    .about__abilities__box {
        display: none;
    }

    .numbers__block__info {
        margin-bottom: 0;
    }

    .counter__info__list {
        gap: 50px;
        margin-bottom: 15vh;
    }

    .big__text__box {
        padding-bottom: 0;
        margin-bottom: 15vh;
        font-weight: 500;
    }

    .fade__word__about {
        display: inline-block;
        filter: blur(0);
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    .fade__text {
        display: inline-block;
        filter: blur(0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    .fade__word__info {
        display: inline-block;
        filter: blur(0);
        opacity: 1;
        transform: translate3d(0, 0, 0);
        will-change: transform, opacity, filter;
    }


    .fade__word__title {
        display: inline-block;
        filter: blur(0);
        opacity: 1;
        transform: translate3d(0, 0, 0);
        will-change: transform, opacity, filter;
    }

    .info__section {
        min-height: auto;
    }

    .about__project__text {
        font-weight: 500;
    }
}