/*first-section---------------------------------------------*/
.project-title {
    font-family: Poppins, serif;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    font-size: 200px;
    color: var(--primary-color);
    font-weight: normal;
}

.project-title-text-under {
    font-weight: normal;
    font-size: 15px;
    font-family: Poppins, serif;
    display: flex;
    justify-content: center;
}

.counter-info-list {
    flex-wrap: wrap;
    display: flex;
    max-width: 1200px;
    gap: 10px;
    margin: 50px auto;
    justify-content: center;
}

.info-list-item {
    line-height: 1.7;
    min-height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-title {
    font-size: 18px;
}

.info-number {
    font-size: 35px;
    font-weight: bolder;
    color: var(--primary-color);
}

.counter-info-list .describe-info-text {
    font-size: 15px;
}

.home-main-page-body {
    position: relative;
}

.next-section-text-box {
    display: flex;
    position: absolute;
    width: calc(100% - (var(--base-padding) + var(--base-padding)));
    bottom: 0;
    left: var(--base-padding);
}

.next-section-text {
    font-size: 15px;
    color: var(--primary-color);
    display: block;
    white-space: nowrap;
    padding-right: var(--base-padding);
}

.next-section-text-box-limit {
    position: relative;
    display: block;
    font-weight: normal;
    width: 100%;
    overflow: hidden;
}

.next-section-text-box-limit::after {
    position: absolute;
    top: 50%;
    content: "";
    display: block;
    height: 1px;
    background-color: var(--primary-color);
    width: 0;
    transition: width 1s ease;
}

.next-section-text-box-limit:hover::after {
    width: 100%;
}

/*second-section---------------------------------------------*/
.home-described-section-body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.described-restaurant-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 600px;
    height: 600px;
}

.title-about-inspiration {
    color: var(--primary-color);
    font-size: 35px;
}

.img-restaurant-box {
    width: 900px;
    height: 600px;
}

.img-restaurant {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.next-description-section-text-box {
    display: flex;
    position: absolute;
    width: calc(100% - (var(--base-padding) + var(--base-padding)));
    bottom: 0;
    right: var(--base-padding);
}

.next-description-section-text-box-limit {
    position: relative;
    display: block;
    font-weight: normal;
    width: 100%;
    overflow: hidden;
}

.next-description-section-text-box-limit::before {
    position: absolute;
    top: 50%;
    content: "";
    display: block;
    height: 1px;
    background-color: var(--primary-color);
    right: 0;
    width: 0;
    transition: width 1s ease;
}

.next-description-section-text-box-limit:hover::before {
    width: 100%;
}

.next-description-section-text {
    font-size: 15px;
    color: var(--primary-color);
    display: block;
    white-space: nowrap;
    padding-left: var(--base-padding);
}
/*third-section---------------------------------------------------*/
.home-described-project-section-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.described-project-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 600px;
    height: 600px;
}

.title-about-project {
    color: var(--primary-color);
    font-size: 35px;
}

.key-frames-title {
    color: var(--primary-color);
    font-size: 35px;
}

.key-frames-item {
    padding: 5px 0 5px 0;
}

/*fourth-section-----------------------------------------------------*/
vision-section-body {

}
