/*first-section---------------------------------------------*/
.home-main-section {
    margin-bottom: 30vh;
}

.home-main-page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-title {
    display: inline-block;
    margin-top: 90px;
    transition: transform 0.1s ease-out;
}

.project-title-text-under {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    transition: opacity 0.2s ease;
}

.counter-info-list {
    flex-wrap: wrap;
    display: flex;
    max-width: 1200px;
    gap: 10px;
    margin: 0 auto;
    justify-content: center;
    transition: opacity 0.2s ease;
}

.info-list-item {
    font-weight: 500;
    line-height: 1.7;
    min-height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-title {
    font-size: 18px;
}

.nums-box {
    display: flex;
    align-items: center;
}

.info-number {
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    color: var(--primary-color);
}


.counter-info-list .describe-info-text {
    font-size: 15px;
}

.scroll-down-text {
    font-weight: 500;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 200px;
    bottom: 30px;
    left: 50%;
    margin-left: -100px;
    transition: opacity 0.2s ease;
}

/*second-section---------------------------------------------*/
.second_section {
    overflow: hidden;
}

.home-described-section-body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    transform: translateY(50%);
    transition: transform 0.1s ease-out;
}
.described-restaurant-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 600px;
    height: 600px;
}

.title-about-inspiration {
    color: #6a6a6a;
    font-weight: 500;
    font-size: 35px;
}

.img-restaurant-box {
    width: 700px;
    height: 500px;
}

.img-restaurant {
    width: 700px;
    height: 500px;
    /*object-fit: cover;*/
}

/*third-section---------------------------------------------------*/
.third_section {
    overflow: hidden;
}

.home-described-project-section-body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    transform: translateY(50%);
    transition: transform 0.1s ease-out;
}

.described-project-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 600px;
    height: 600px;
}

.title-about-project {
    color: #6a6a6a;
    font-weight: 500;
    font-size: 35px;
}

.key-frames-title {
    color: #6a6a6a;
    font-weight: 500;
    font-size: 35px;
}
.key-frames-item {
    padding: 5px 0 5px 0;
}

.img-kitchen {
    width: 700px;
    height: 500px;
    object-fit: cover;
    object-position: 0 100%;
}

/*fourth-section-----------------------------------------------------*/
.vision-section {
    color: var(--primary-color);
    padding-bottom: 150px;
    padding-top: 120px;
    overflow: hidden;
}

.vision-section-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(50%);
    transition: transform 0.1s ease-out;
}

.vision-section-title-box {
    font-weight: 600;
}

.vision-section-text-box {
    width: 1000px;
    margin: 30px auto;
    text-align: justify;
}

.vision-section-image-box {
    width: 1000px;
    height: 700px;
}

.vision-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}

.philosophy-title {
    color: #6a6a6a;
    font-weight: 600;
    font-size: 20px;
}

/*section-lines------------------------------------*/
.next-section-box {
    padding: 10px 10px 10px 10px;
}

.next-design-inspiration-box {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}

.first_section_line {
  width: 0;
  height: 1px;
  background-color: var(--primary-color);
  transform: translateY(50%);
  transition: width 0.1s ease-out;
}

.next-design-inspiration-text {
    padding-right: 5px;
    white-space: nowrap;
}

.next-project-description-box {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
}

.second_section_line {
  width: 0;
  height: 1px;
  background-color: var(--primary-color);
  transform: translateY(50%);
  transition: width 0.1s ease-out;
}

.next-project-description-text {
    padding-left: 5px;
    white-space: nowrap;
}

.next-section-vision {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}

.vision-section-text {
    padding-right: 5px;
    white-space: nowrap;
}

.vision-section-line {
    width: 0;
    height: 1px;
    background-color: var(--primary-color);
    transform: translateY(50%);
    transition: width 0.1s ease-out;
}

/*media---------------------------------------------------*/
/*@media (max-width: 1300px) {*/
/*    .main-title-text {*/
/*        font-size: 200px;*/
/*    }*/
/*}*/