.log__wrapper {
    display: flex;
    justify-content: center;
}

.log__body {
    margin-top: 10vh;
    max-width: max-content;
    width: 100%;
}

.login__title {
    text-transform: uppercase;
    font-size: 7.0vw;
    font-weight: 400;
    letter-spacing: -0.25rem;
}

.title__letter {
    display: inline-block;
    opacity: 0;
    filter: blur(10px);
    transform: translate3d(15px, 0, 0);
}

.help__text {
    display: inline-block;
    opacity: 0;
    filter: blur(10px);
    transform: translate3d(15px, 0, 0);
    font-style: italic;
    font-weight: 500;
    margin-bottom: 2vh;
}

.login__button {
    display: block;
    /*cursor: pointer;*/
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    font-size: clamp(20px, 2vw, 25px);
    font-weight: 500;
    margin-top: 2vh;
    color: var(--primary-color);
    background-color: var(--back-color);
}

.button__fade {
    display: inline-block;
    opacity: 0;
    filter: blur(10px);
    transform: translate3d(15px, 0, 0);
}

/*form---------------------------------------*/
label {
    display: inline-block;
    opacity: 0;
    filter: blur(10px);
    transform: translate3d(15px, 0, 0);
    font-style: italic;
}

input {
    opacity: 0;
    filter: blur(10px);
    transform: translate3d(15px, 0, 0);
    background-color: #eeede9;
    font-style: italic;
    font-family: "Cormorant Garamond", serif;
    font-size: clamp(20px, 2vw, 21px);
    font-weight: 500;
    white-space: nowrap;
    padding: 0.13rem 0;
    margin-bottom: 3vh;
}

/*logged-out----------------------------*/
.logged__out__body {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: max-content;
    width: 100%;
}

.login__again__link {
    color: var(--primary-color);
    font-style: italic;
    font-size: clamp(20px, 2vw, 23px);
    font-weight: 500;
}

/*media--------------------------------*/
@media (max-width: 1439px) {
    .login__title__media {
        font-size: 15.0vw;
    }

    .log__body {
        margin-top: 15vh;
    }
}

@media (max-width: 1025px) {
    .logged__out__body {
        display: flex;
        padding-top: 15vh;
        align-items: center;
    }

    .login__title {
        font-size: 12.0vw;
        letter-spacing: 0;
    }
}

@media (max-width: 701px) {
    .login__title__media {
        font-size: 17.0vw;
    }

    .log__body {
        margin-top: 25vh;
    }
}
