/*NULL-----------------------------------------------*/
*,
* ::before,
* ::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

html,
body {
    font-family: Poppins, sans-serif;
    height: 100%;
    line-height: 1.5;
    font-size: 15px;
    background-color: #F2F2F2;
    color: #66585b;
    scroll-behavior: smooth;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

._container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 10px;
}

/*HEADER------------------------------------------------*/
.header {
    width: 100%;
}

.header-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
}

.nav-elems {
    display: flex;
    align-items: center;
}

.nav-link {
    font-weight: 500;
    font-size: 15px;
    color: rgb(132, 96, 50);
}

.nav-list {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
}

.login-list {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
}

.nav-items {
    padding: 5px 0 5px 0;
    position: relative;
    /*overflow: hidden;*/
}

.nav-items::after {
    transition: transform 0.3s ease, color 0.3s ease;
    position: absolute;
    content: "";
    height: 1px;
    display: block;
    background-color: rgba(132, 96, 50, 0.5);
    left: 0;
    bottom: 0;
    width: 100%;
    transform-origin: center;
    transform: scaleX(0);
}

.nav-items:hover::after {
    transform: scaleX(1);
}

.logo-box {
    display: flex;
    justify-content: center;
    width: 180px;
    margin-left: -90px;
    position: absolute;
    left: 50%;
}

.logo-box .logo {
    font-weight: 500;
    font-size: 25px;
    color: rgb(132, 96, 50)
}

.login-list-items {
    position: relative;
    padding: 5px 0 5px 0;
}

.login-list-items a {
    font-weight: 500;
    font-size: 15px;
    color: rgb(132, 96, 50)
}

.login-list-items::after {
    transition: width 0.3s ease;
    position: absolute;
    content: "";
    height: 1px;
    display: block;
    background-color: rgba(132, 96, 50, 0.5);
    right: 0;
    bottom: 0;
    width: 0;
}

.login-list-items:hover::after {
    width: 100%;
}


/*BODY-----------------------------------------------*/
/*.main-content {*/
/*    flex: 1 1 auto;*/
/*}*/

.section {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

/*FOOTER---------------------------------------------*/
.footer {
    position: relative;
    max-width: 100%;
    /*background-color: rgba(132, 96, 50);*/
}

.footer-container{
    position: relative;
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    border-top: 1px solid rgb(132, 96, 50);
    color: rgb(132, 96, 50)
}

.footer-container::before {
    transition: width 1s ease;
    position: absolute;
    content: "";
    height: 1px;
    display: block;
    background-color: rgb(132, 96, 50);
    right: 0;
    top: 0;
    width: 0;
}

.footer-container:hover::before {
    width: 100%;
}

.logo-slash {
    font-weight: 250;
}

.footer-text {
    display: inline-flex;
    width: 250px;
    font-size: 15px;
    justify-content: center;
}

.footer-logo-text {
    font-weight: 550;
}