/*VARIABLES--------------------------------------------*/
:root {
    /*--primary-color: #121212;*/
    --primary-color: #000000;
    --back-color: #FFFAFA;
    --base-padding: 10px;
}

/*NULL-----------------------------------------------*/
*,
* ::before,
* ::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

html,
body {
    font-family: Poppins, sans-serif;
    height: 100%;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 500;
    background-color: var(--back-color);
    color: var(--primary-color);
    scroll-behavior: smooth;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.hide__scroll {
    overflow: hidden;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

._container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 var(--base-padding);
}
/*HEADER------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: transform 0.3s ease-out;
}

.header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: var(--back-color);
}

.header__container {
  display: flex;
  text-align: center;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  background-color: transparent;
  padding: 10px 10px;
}

.logo {
  position: relative;
  font-size: 40px;
  text-decoration: none;
  font-weight: 500;
  color: var(--primary-color);
  z-index: 11;
}

.menu__box {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 12;
}

.menu__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    color: var(--primary-color);
}

.menu__click__elem {
    position: absolute;
    bottom: 0;
    display: block;
    height: 1.5px;
    width: 100%;
    transform: scaleX(0);
    background-color: var(--primary-color);
    transform-origin: right;
    transition: transform 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}

.menu__box:hover .menu__click__elem {
    transform-origin: left;
    transform: scaleX(1);
}

.menu__button__active {
    transform: scaleX(1);
}

/*header-drop-menu---------------------------------------------*/
.header__menu {
    position: fixed;
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: var(--back-color);
    transition: height 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header__menu__active {
    height: 100%;
}

.nav__list {
    position: relative;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    padding: 0 10px;
    color: var(--primary-color);
}

.menu__space__item__active {
    height: 35px;
}

.nav__items {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-end;
}

.nav__link {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: clamp(20px, 8vw, 80px);
    text-decoration: none;
    line-height: 1;
    font-weight: 500;
    color: var(--primary-color);
    transition: transform 1.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}


.nav__link:hover {
    transform: translateX(-10px);
}

.login__list__box {
    position: absolute;
    min-height: 100px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.login__list {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login__list__items {
    position: relative;
    display: flex;
    align-items: center;
    transition: transform 0.7s ease;
}

.login__list__item__link {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    color: var(--primary-color);
}

.login__item {
    line-height: 1.4;
    display: flex;
    flex-direction: column;
}

.login__click__elem {
    position: absolute;
    bottom: 0;
    display: block;
    height: 1.5px;
    width: 100%;
    transform: scaleX(0);
    background-color: var(--primary-color);
    transform-origin: right;
    transition: transform 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}

.login__list__item__link:hover .login__click__elem {
    transform-origin: left;
    transform: scaleX(1);
}




/*BODY-----------------------------------------------*/
.section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 5;
}

/*FOOTER---------------------------------------------*/
.footer__section {
    background-color: var(--primary-color);
}

.footer {
    will-change: transform;
    padding-top: 200px;
    padding-bottom: 100px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

/*footer-about-----------------------------------------*/
.footer__about__info {
    color: var(--back-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__about__art {
    color: var(--back-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 200px;
}

.about__title {
    display: flex;
    line-height: 0.86;
    font-size: clamp(2.5rem, 8vw, 6rem);
    font-weight: 400;
    margin-right: 50px;
}

.art__title {
    display: flex;
    line-height: 0.86;
    font-size: clamp(2.5rem, 8vw, 6rem);
    font-weight: 400;
    margin-right: 50px;
}

.box__to__hide {
    display: inline-block;
    overflow: hidden;
    background-color: var(--primary-color);
}

.letter {
    display: inline-block;
    /*transform: translateX(-100%);*/
    will-change: transform;
}

.text__about {
    width: 100%;
    max-width: 1150px;
    font-size: 3.8vw;
    line-height: 3.32vw;
    position: relative;
    font-weight: 500;
    letter-spacing: -.01em;
    text-align: justify;
    padding: 0;
}
/*footer-contacts--------------------------------*/
.footer__contact__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__text__list {
    display: flex;
    flex-direction: column;
}

.say__hi {
    font-size: 6rem;
    font-weight: 400;
    color: var(--back-color);
}

.footer__text {
    color: var(--back-color);
    display: flex;
    align-items: center;
    gap: 3px;
}

.footer__text__link {
    color: var(--back-color);
}

/*header-media-----------------------------------------*/
@media  (max-width: 768px) {
    .menu__click__elem {
        display: none;
    }

    .nav__link:hover {
        transform: translateX(0);
    }

    .login__click__elem {
        display: none;
    }
}

@media (max-height: 533px) {
    .login__list__items {
        padding-bottom: 0;
        align-items: flex-end;
    }

    .login__list__box {
        min-height: 50px;
    }
}

/*footer-media---------------------------------------------*/
@media (max-width: 1516px) {
    .about__title {
        margin-bottom: 10px;
    }

    .art__title {
        margin-bottom: 10px;
    }

    .footer__about__info {
        flex-direction: column;
    }

    .footer__about__art {
        flex-direction: column;
    }
}

@media (max-width: 769px) {
    .footer {
        padding-top: 50px;
         padding-bottom: 50px;
    }

    .footer__about__art {
        padding-bottom: 50px;
    }
}

@media (max-width: 955px) {
    .footer__contact__info {
        flex-direction: column;
        gap: 30px;
    }
    .say__hi {
        font-size: 8rem;
    }
}

@media (max-width: 388px) {
    .say__hi {
        font-size: 6rem;
    }
}
