/*VARIABLES--------------------------------------------*/
:root {
    --primary-color: #121212;
    --back-color: #f9f9f9;
    --base-padding: 10px;

}

/*NULL-----------------------------------------------*/
*,
* ::before,
* ::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

html,
body {
    font-family: Poppins, sans-serif;
    height: 100%;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 500;
    background-color: var(--back-color);
    color: var(--primary-color);
    scroll-behavior: smooth;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

._container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 var(--base-padding);
}
/*HEADER------------------------------------------------*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    display: flex;
    text-align: center;
    height: 80px;
    justify-content: space-between;
}

.kk {
    font-size: 40px;
    text-decoration: none;
    font-weight: 400;
    color: var(--primary-color);
}

.nav-elems {
    display: flex;
    align-items: center;
}

.nav-link {
    font-weight: 550;
    font-size: 15px;
    color: var(--primary-color);
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    font-weight: 550;
    font-size: 15px;
    color: var(--primary-color);
}

.menu-item::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    scale: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: scale 0.2s ease-out;
}

.menu-item:hover::before {
    scale: 100%;
}

.nav-items {
    position: relative;
}

.logo-box {
    display: flex;
    justify-content: center;
    margin-left: -90px;
    position: absolute;
    left: 50%;
}

.logo-box .logo {
    font-weight: 500;
    font-size: 25px;
    color: var(--primary-color);
}

/*BODY-----------------------------------------------*/
.section {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

/*FOOTER---------------------------------------------*/
.footer {
    max-width: 100%;
}

.footer-container{
    position: relative;
    margin: 0 auto;
    display: flex;
    gap: 150px;
    font-size: 14px;
    min-height: 100px;
    align-items: center;
    /*border-bottom: 2px solid var(--primary-color);*/
}

.footer-text {
    font-weight: 500;
}

.footer-text-links {
    position: absolute;
    top: 45%;
    right: 14px;
    display: flex;
    gap: 30px;
}

.footer-text-link {
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
}


.footer-text-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.say-hi {
    font-size: 55px;
    font-weight: 400;
    justify-content: flex-end;
}

.slash-footer-logo {
    font-weight: 400;
}

