<header class="header">
  <div class="header__container _container">
    <a class="logo {% if not is_home %} menu__elem {% endif %} {% if is_home %} logo__home {% endif %}" href="{% url 'kitchenflow:index' %}">S<em>Élise</em></a>
    <div class="menu__box menu__item">
      <em><span class="fake__menu__text">close</span></em> <em><span class="fake__menu__text">menu</span></em>
      <em>
        <span class="menu__text menu__elem">
          <span class="fade__close">c</span><span class="fade__close">l</span><span class="fade__close">o</span><span class="fade__close">s</span><span class="fade__close">e</span>
        </span>
        <span class="menu__text menu__elem">
          <span class="fade__menu">m</span><span class="fade__menu">e</span><span class="fade__menu">n</span><span class="fade__menu">u</span>
        </span>
      </em>
    </div>
  </div>
</header>
<nav class="header__menu">
  <ul class="nav__list">
    <li class="nav__items">
      <a href="{% url 'kitchenflow:about' %}">
        <span class="nav__link menu__fade">A</span><span class="nav__link menu__fade">B</span><span class="nav__link menu__fade">O</span><span class="nav__link menu__fade">U</span><span class="nav__link menu__fade">T</span><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="nav__link menu__fade">M</span><span class="nav__link menu__fade">E</span>
      </a>
    </li>
    <li class="nav__items">
      <a href="{% url 'kitchenflow:cook-list' %}">
        <span class="nav__link menu__fade">A</span><span class="nav__link menu__fade">L</span><span class="nav__link menu__fade">L</span><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="nav__link menu__fade">C</span><span class="nav__link menu__fade">O</span><span class="nav__link menu__fade">O</span><span class="nav__link menu__fade">K</span><span class="nav__link menu__fade">S</span>
      </a>
    </li>
    <li class="nav__items">
      <a href="{% url 'kitchenflow:dish-list' %}">
        {% for all_my in  user.is_chef|yesno:"ALL , MY " %} <span class="nav__link menu__fade">{{ all_my }}</span>{% endfor %}<span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="nav__link menu__fade">D</span><span class="nav__link menu__fade">I</span><span class="nav__link menu__fade">S</span><span class="nav__link menu__fade">H</span><span class="nav__link menu__fade">E</span><span class="nav__link menu__fade">S</span>
      </a>
    </li>
    <li class="nav__items">
      <a href="{% url 'kitchenflow:dish-type-list' %}">
        {% for all_my in user.is_chef|yesno:"ALL , MY " %}<span class="nav__link menu__fade">{{ all_my }}</span>{% endfor %}<span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="nav__link menu__fade">T</span><span class="nav__link menu__fade">Y</span><span class="nav__link menu__fade">P</span><span class="nav__link menu__fade">E</span><span class="nav__link menu__fade">S</span><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="nav__link menu__fade">O</span><span class="nav__link menu__fade">F</span><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="nav__link menu__fade">D</span><span class="nav__link menu__fade">I</span><span class="nav__link menu__fade">S</span><span class="nav__link menu__fade">H</span><span class="nav__link menu__fade">E</span><span class="nav__link menu__fade">S</span>
      </a>
    </li>
  </ul>
  <div class="login__list__box">
    <ul class="login__list _container">
      {% if user.is_authenticated %}
        <li class="login__list__items login__item">
          <em><a class="fake__user__name" href="{% url 'kitchenflow:cook-detail' user.id %}">{{ user.username }}</a></em>
          <em>
            <a class="login__list__item__link" href="{% url 'kitchenflow:cook-detail' user.id %}">
              {% for name_letter in user.username %}<span class="fade__link">{{ name_letter }}</span>{% endfor %}
            </a>
          </em>
        </li>
        <li class="login__list__items login__item">
          <em><span class="fake__l">logout</span></em>
          <em>
            <a class="login__list__item__link" href="{% url 'logout' %}">
              <span class="fade__link">l</span><span class="fade__link">o</span><span class="fade__link">g</span><span class="fade__link">o</span><span class="fade__link">u</span><span class="fade__link">t</span>
            </a>
          </em>
        </li>
      {% else %}
        <li class="login__list__items login__item">
          <em>
            <a class="fake__login" href="{% url 'login' %}">
              login
            </a>
          </em>
          <em>
            <a class="login__list__item__link" href="{% url 'login' %}">
              <span class="fade__link">l</span><span class="fade__link">o</span><span class="fade__link">g</span><span class="fade__link">i</span><span class="fade__link">n</span>
            </a>
          </em>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>

