{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/create_update_form.css' %}">
{% endblock %}

{% block title %}
  <title>{{ object|yesno:"Update , Create " }}cook</title>
{% endblock %}

{% block content %}
  <section class="section">
    <div class="form__body _container">
      <div class="form__wrapper">
        <div class="form__box">
          <h1 class="dish__type__form__title">
            {% for letter in object|yesno:"Update cook,Create cook" %}{% if letter == " " %}<span class="title__letter">&nbsp;</span>{% else %}<span class="title__letter">{{ letter }}</span>{% endif %}{% endfor %}
          </h1>

          <form action="" method="post" class="dish__type__form">
            {% csrf_token %}

            {% if form.non_field_errors %}
              <ul class="error__list">
                {% for error in form.non_field_errors %}
                  <li class="error__item another__letter">{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}

            {% for error in form.username.errors %}
              <div class="error__item another__letter">{{ error }}</div>
            {% endfor %}

            <div class="form__group__cook">
              <label for="{{ form.username.id_for_label }}" class="form__label another__letter"><em>{{ form.username.label }}:&nbsp;</em></label>
              {{ form.username }}
            </div>

            {% for error in form.first_name.errors %}
              <div class="error__item another__letter">{{ error }}</div>
            {% endfor %}

            <div class="form__group__cook">
              <label for="{{ form.first_name.id_for_label }}" class="form__label another__letter"><em>{{ form.first_name.label }}:&nbsp;</em></label>
              {{ form.first_name }}
            </div>

            {% for error in form.last_name.errors %}
              <div class="error__item another__letter">{{ error }}</div>
            {% endfor %}

            <div class="form__group__cook">
              <label for="{{ form.last_name.id_for_label }}" class="form__label another__letter"><em>{{ form.last_name.label }}:&nbsp;</em></label>
              {{ form.last_name }}
            </div>

            {% for error in form.years_of_experience.errors %}
              <div class="error__item another__letter">{{ error }}</div>
            {% endfor %}

            <div class="form__group__cook">
              <label for="{{ form.years_of_experience.id_for_label }}" class="form__label another__letter"><em>{{ form.years_of_experience.label }}:&nbsp;</em></label>
              {{ form.years_of_experience }}
            </div>

            {% for error in form.is_chef.errors %}
              <div class="error__item another__letter">{{ error }}</div>
            {% endfor %}

            <div class="form__group__cook">
              <label for="{{ form.is_chef.id_for_label }}" class="form__label another__letter"><em>{{ form.is_chef.label }}&nbsp;-&nbsp;</em></label>
              {{ form.is_chef }}
            </div>

            {% for error in form.password1.errors %}
              <div class="error__item another__letter">{{ error }}</div>
            {% endfor %}

            <div class="form__group__cook">
              <label for="{{ form.password1.id_for_label }}" class="form__label another__letter"><em>{{ form.password1.label }}:&nbsp;</em></label>
              {{ form.password1 }}
            </div>

            {% for error in form.password2.errors %}
              <div class="error__item another__letter">{{ error }}</div>
            {% endfor %}

            <div class="form__group__cook last__input">
              <label for="{{ form.password2.id_for_label }}" class="form__label another__letter"><em>{{ form.password2.label }}:&nbsp;</em></label>
              {{ form.password2 }}
            </div>

            <button type="submit" class="form__button hover__elem">
              {% for button_letter in object|yesno:'Update,Create' %}<span class="another__letter">{{ button_letter }}</span>{% endfor %}
            </button>
          </form>

        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'js/form_anim.js' %}"></script>
{% endblock %}
