{% extends "base.html" %}

{% block content %}
  <h1>
    {{ dish.name }}
  </h1>
  {% if user.is_chef %}
    <div>
      <a href="{% url 'kitchenflow:dish-update' dish.id %}">Update</a>
    </div>
    <div>
      <a href="{% url 'kitchenflow:dish-delete' dish.id %}">Delete</a>
    </div>
  {% endif %}
  <p>price - {{ dish.price }}$</p>
  <p>dish type - {{ dish.dish_type.name }}</p>
  {% if dish.description %}
    <p>{{ dish.description }}</p>
  {% endif %}
  <h3>Cooks</h3>
  {% if user.is_chef %}
    <div class="cook-list-box">
      <ul class="cook-list">
        {% for cook in cooks %}
          <li class="cook-list-items">
            <a class="cook-list-links" href="{% url 'kitchenflow:remove-from-cooking' dish.id cook.id %}">
              {{ cook.first_name }} {{ cook.last_name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if dish.cooks.all %}
    <ul>
      {% for cook in dish.cooks.all %}
        <li>
          <a href="{% url 'kitchenflow:cook-detail' cook.id %}">{{ cook.first_name }} {{ cook.last_name }}</a>
          {% if user.is_chef %}
            <a href="{% url 'kitchenflow:remove-from-cooking' dish.id cook.id %}">Remove from cooking</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No cooks</p>
  {% endif %}
{% endblock %}