{% extends "base.html" %}

{% block content %}
  <h1>
    {{ dish.name }}
  </h1>
  <div>
    <a href="{% url 'kitchenflow:dish-update' dish.id %}">Update</a>
  </div>
  <div>
    <a href="{% url 'kitchenflow:dish-delete' dish.id %}">Delete</a>
  </div>
  <p>price - {{ dish.price }}$</p>
  <p>dish type - {{ dish.dish_type.name }}</p>
  {% if dish.description %}
    <p>{{ dish.description }}</p>
  {% endif %}
  <h3>Cooks</h3>
  <ul>
    {% for cook in dish.cooks.all %}
      <li>
        <a href="{% url 'kitchenflow:cook-detail' cook.id %}">{{ cook.first_name }} {{ cook.last_name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}