{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Delete dish</title>
{% endblock %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/delete_page.css' %}">
{% endblock %}

{% block content %}
  <section class="section">
    <div class="form__body _container">
      <h1 class="delete__title__dish title__letter">
        <span class="delete__text">Delete dish</span> {{ dish.name }}?
      </h1>
      <form class="delete__form" action="" method="post">
        {% csrf_token %}

        <button class="delete__button d__b__button hover__elem" type="submit">
          <span class="button__fade">Y</span><span class="button__fade">e</span><span class="button__fade">s</span>
        </button>
        <button class="back__button d__b__button hover__elem" type="button">
          <a class="back__link" href="{% url 'kitchenflow:dish-detail' object.id %}">
            <span class="button__fade">B</span><span class="button__fade">a</span><span class="button__fade">c</span><span class="button__fade">k</span><span class="button__fade"><span class="button__fade">&nbsp;</span></span><span class="button__fade">t</span><span class="button__fade">o</span><span class="button__fade">&nbsp;</span><span class="button__fade">p</span><span class="button__fade">a</span><span class="button__fade">g</span><span class="button__fade">e</span>
          </a>
        </button>
      </form>
    </div>
  </section>
{% endblock %}

{% block extra_scripts %}
	<script src="{% static 'js/delete_page_anim.js' %}"></script>
{% endblock %}