{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Dishes</title>
{% endblock %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/list_pages.css' %}">
{% endblock %}

{% block content %}
  <section class="pinned__section section">
    {% include "includes/pagination.html" %}
    <div class="main__block _container">
        {% if not dish_list %}
          <p class="no__data__text">
            <em>Here aren`t dishes</em>
          </p>
        {% endif %}
        <h1 class="page__all__title main__title ">
          {% if user.is_chef %}
          	<span class="fade__title__all">A</span><span class="fade__title__all">L</span><span class="fade__title__all">L</span> <span class="fade__title__all">D</span><span class="fade__title__all">I</span><span class="fade__title__all">S</span><span class="fade__title__all">H</span><span class="fade__title__all">E</span><span class="fade__title__all">S</span>
          {% else %}
            <span class="fade__title__all">M</span><span class="fade__title__all">Y</span> <span class="fade__title__all">D</span><span class="fade__title__all">I</span><span class="fade__title__all">S</span><span class="fade__title__all">H</span><span class="fade__title__all">E</span><span class="fade__title__all">S</span>
          {% endif %}

        </h1>
        {% include "includes/search_form.html" %}
        {% include "includes/filter_by.html" %}
      </div>
    </section>
    <section class="scrollable__section section">
      <div class="dish__choose__box _container">
        <ul class="choose__type__list">
          <li class="choose__type__item target__block">
            <em>
              <a class="filter__by__link to__anim__elem hover__elem" href="{% url 'kitchenflow:dish-list' %}">
                All types
              </a>
            </em>
          </li>
          {% for type in dish_types %}
      	  <li class="choose__type__item target__block">
            <em>
              <a class="filter__by__link to__anim__elem hover__elem" href="{% url 'kitchenflow:dish-list' %}?type={{ type.name }}">
                {{ type.name }}
              </a>
            </em>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="page__list__box _container">
      {% if dish_list %}
        <ul class="data__list">
          {% for dish in dish_list %}
            <li class="swiper-slider dish__list__item target__block">
              <a class="dish__link to__anim__elem hover__elem" href="{% url 'kitchenflow:dish-detail' dish.id %}">
                <span class="dish">{{ dish.name }}</span>
                <span class="dish__type"><em>{{ dish.dish_type }}</em></span>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </section>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'js/list_page_anim.js' %}"></script>
{% endblock %}
