{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/dish_type_personal.css' %}">
{% endblock %}

{% block title %}
  <title>{{ dish_type_detail }}</title>
{% endblock %}

{% block content %}
  <h1>
    {{ dish_type_detail }}
  </h1>
  {% if user.is_chef %}
    <div>
      <a href="{% url 'kitchenflow:dish-type-update' dish_type_detail.id %}">Update</a>
    </div>
    <div>
      <a href="{% url 'kitchenflow:dish-type-delete' dish_type_detail.id %}">Delete</a>
    </div>
  {% endif %}

  {% if dish_type_detail.dishes.all %}
    <ul>
      {% for dish in dish_type_detail.dishes.all %}
        <li><a href="{% url 'kitchenflow:dish-detail' dish.id %}">{{ dish }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No dishes</p>
  {% endif %}
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'js/personal_page_anim.js' %}"></script>
{% endblock %}