{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/dish_detail_styles.css' %}">
{#  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>#}
{% endblock %}

{% block content %}
  <h1 class="dish-name">
    {{ dish.name }}
  </h1>
  {% if user.is_chef %}
    <div>
      <a href="{% url 'kitchenflow:dish-update' dish.id %}">Update</a>
    </div>
    <div>
      <a href="{% url 'kitchenflow:dish-delete' dish.id %}">Delete</a>
    </div>
  {% endif %}
  <p>price - {{ dish.price }}$</p>
  <p>dish type - {{ dish.dish_type.name }}</p>
  {% if dish.description %}
    <p>{{ dish.description }}</p>
  {% endif %}
  <h3>Cooks</h3>
  {% if user.is_chef %}
    <ul class="cook-list-box">
      <li class="add-cook-button"><span class="button-text">Add cook <i class='bx bx-chevron-down'></i></span>
        <ul class="cook-list">
          {% for cook in cooks %}
            {% if cook not in dish.cooks.all %}
              <li class="cook-list-items">
                <a class="cook-list-link" href="{% url 'kitchenflow:remove-from-cooking' dish.id cook.id %}">
                  <span>{{ cook.first_name }} {{ cook.last_name }}</span><span class="add-cook">+</span>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    </ul>
  {% endif %}
  {% if dish.cooks.all %}
    <ul class="added-cooks-list">
      {% for cook in dish.cooks.all %}
        <li class="added-cook">
          <a class="added-cook-link" href="{% url 'kitchenflow:cook-detail' cook.id %}">{{ cook.first_name }} {{ cook.last_name }}</a>
          {% if user.is_chef %}
            <a class="added-cook-link" href="{% url 'kitchenflow:remove-from-cooking' dish.id cook.id %}">Remove from cooking</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No cooks</p>
  {% endif %}
{% endblock %}