{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#  <h1>Dishes</h1>#}
{#  {% if user.is_chef %}#}
{#    <div>#}
{#      <a href="{% url 'kitchenflow:dish-create' %}">Create</a>#}
{#    </div>#}
{#  {% endif %}#}
{#  {% include "includes/search_form.html" %}#}
{#  {% if dish_list %}#}
{#    <table class="table">#}
{#      <tr>#}
{#        <th>Name</th>#}
{#        <th>Price</th>#}
{#        <th>Dish type</th>#}
{#      </tr>#}
{#    {% for dish in dish_list %}#}
{#      <tr>#}
{#        <td><a href="{% url 'kitchenflow:dish-detail' dish.id %}">{{ dish.name }}</a></td>#}
{#        <td>{{ dish.price }}$</td>#}
{#        <td>{{ dish.dish_type }}</td>#}
{#      </tr>#}
{#    {% endfor %}#}
{#    </table>#}
{#  {% else %}#}
{#    <p>Here aren`t dishes</p>#}
{#  {% endif %}#}
{#  {% include "includes/pagination.html" %}#}
{#{% endblock %}#}
{##}
{#///////////////////////////////#}
{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Dishes</title>
{% endblock %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/list_pages.css' %}">
{% endblock %}

{% block content %}
  <section class="pinned__section section">
      {% include "includes/pagination.html" %}
      <div class="main__block _container">
      {% if not dish_list %}
        <p class="no__data__text">
          <em>Here aren`t dishes</em>
        </p>
      {% endif %}
        <h1 class="page__all__title cooks__title">
          <span class="fade__title__all">A</span><span class="fade__title__all">L</span><span class="fade__title__all">L</span> <span class="fade__title__all">D</span><span class="fade__title__all">I</span><span class="fade__title__all">S</span><span class="fade__title__all">H</span><span class="fade__title__all">E</span><span class="fade__title__all">S</span>
        </h1>
        {% include "includes/search_form.html" %}
        <em>
        </em>
        {% if user.is_chef %}
          <div>
            <em>
              <a class="create__button" href="{% url 'kitchenflow:cook-create' %}">
                <span class="create__fade">C</span><span class="create__fade">r</span><span class="create__fade">e</span><span class="create__fade">a</span><span class="create__fade">t</span><span class="create__fade">e</span> <span class="create__fade">d</span><span class="create__fade">i</span><span class="create__fade">s</span><span class="create__fade">h</span>
              </a>
            </em>
          </div>
        {% endif %}
        </div>
    </section>
    <section class="scrollable__section section">
      <div class="page__list__box _container">
        {% if dish_list %}
          <ul class="data__list">
            {% for dish in dish_list %}
              <li class="swiper-slider cooks__list__item">
                <a class="username" href="{% url 'kitchenflow:dish-detail' dish.id %}">
                  <span class="dish">{{ dish.name }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
  </section>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'js/list_page_anim.js' %}"></script>
{% endblock %}