{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock %}

{% block content %}
  <section class="section">
    <div class="page-body _container">
      <h1 class="project-title">
        SERÈNE ÉLIX
      </h1>
      <h2 class="project-title-text-under">kitchen service</h2>
{#      <h1 class="project-title">S<span class="logo-slash">|</span>É Kitchen service</h1>#}
      <ul class="counter-info-list">
        <li class="info-list-item">
          <p class="info-number">{{ count_of_cooks }}</p>
          <h3 class="info-title">Cooks</h3>
          <p class="describe-info-text">[ Skilled cooks crafting every dish with care ]</p>
        </li>
        <li class="info-list-item">
          <p class="info-number">{{ count_of_dishes_type }}+</p>
          <h3 class="info-title">Type of dishes</h3>
          <p class="describe-info-text">[ A variety of cuisines to suit every taste ]</p>
        </li>
        <li class="info-list-item">
          <p class="info-number">{{ count_of_dishes }}+</p>
          <h3 class="info-title">Dishes</h3>
          <p class="describe-info-text">[ Carefully selected meals available today ]</p>
        </li>
        {#<p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}</p>#}
      </ul>

    </div>
  </section>
{% endblock %}