{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Ingredients</title>
{% endblock %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/list_pages.css' %}">
{% endblock %}

{% block content %}
  <section class="pinned__section section">
    {% include "includes/pagination.html" %}
    <div class="main__block _container">
      {% if not ingredients_list %}
        <p class="no__data__text">
          <em>Here aren`t ingredients</em>
        </p>
      {% endif %}
        <h1 class="page__all__title ingredients__title">
          <span class="fade__title__all">A</span><span class="fade__title__all">L</span><span class="fade__title__all">L</span> <span class="fade__title__all">I</span><span class="fade__title__all">N</span><span class="fade__title__all">G</span><span class="fade__title__all">R</span><span class="fade__title__all">E</span><span class="fade__title__all">D</span><span class="fade__title__all">I</span><span class="fade__title__all">E</span><span class="fade__title__all">N</span><span class="fade__title__all">T</span><span class="fade__title__all">S</span>
        </h1>
        {% include "includes/search_form.html" %}
        <div>
          <em>
            <a class="create__button hover__elem" href="{% url 'kitchenflow:dish-type-create' %}">
              <span class="create__fade">C</span><span class="create__fade">r</span><span class="create__fade">e</span><span class="create__fade">a</span><span class="create__fade">t</span><span class="create__fade">e</span> <span class="create__fade">i</span><span class="create__fade">n</span><span class="create__fade">g</span><span class="create__fade">r</span><span class="create__fade">e</span><span class="create__fade">d</span><span class="create__fade">i</span><span class="create__fade">e</span><span class="create__fade">n</span><span class="create__fade">t</span>
              </a>
          </em>
        </div>
      </div>
    </section>
    <section class="scrollable__section section">
      <div class="page__list__box _container">
        {% if ingredients_list %}
          <ul class="data__list">
            {% for ingredient in ingredients_list %}
              <li class="dish__type__list__item target__block">
                <a class="to__anim__elem hover__elem" href="#">{{ ingredient.name }} {{ ingredient.ingredient_type }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
  </section>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'js/list_page_anim.js' %}"></script>
{% endblock %}
