{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/personal_page.css' %}">
{% endblock %}

{% block title %}
  <title>{{ ingredient_detail.name }}</title>
{% endblock %}

{% block content %}
  <section class="first__section section">
    <div class="personal__box _container">
      <h1 class="personal__title">
        <span class="title__anim__item">{{ ingredient_detail.name }}</span>
      </h1>

      <p class="ingredient__type load__anim__item">
        <em>
          ingredient type — {{ ingredient_detail.ingredient_type.name }}
        </em>
      </p>

      {% if user.is_chef %}
        <div class="button__item b__d button__item__f">
          <a class="delete__update__button d__but hover__elem" href="{% url 'kitchenflow:ingredients-update' ingredient_detail.id %}">
            <em>
              <span class="anim__button">U</span><span class="anim__button">p</span><span class="anim__button">d</span><span class="anim__button">a</span><span class="anim__button">t</span><span class="anim__button">e</span> <span class="anim__button">i</span><span class="anim__button">n</span><span class="anim__button">g</span><span class="anim__button">r</span><span class="anim__button">e</span><span class="anim__button">d</span><span class="anim__button">i</span><span class="anim__button">e</span><span class="anim__button">n</span><span class="anim__button">t</span>
            </em>
          </a>
        </div>
        <div class="button__item b__d button__item__s">
          <a class="delete__update__button d__but hover__elem" href="{% url 'kitchenflow:ingredients-delete' object.id %}">
            <em>
              <span class="anim__button">D</span><span class="anim__button">e</span><span class="anim__button">l</span><span class="anim__button">e</span><span class="anim__button">t</span><span class="anim__button">e</span> <span class="anim__button">i</span><span class="anim__button">n</span><span class="anim__button">g</span><span class="anim__button">r</span><span class="anim__button">e</span><span class="anim__button">d</span><span class="anim__button">i</span><span class="anim__button">e</span><span class="anim__button">n</span><span class="anim__button">t</span>
            </em>
          </a>
        </div>
      {% endif %}
    </div>
  </section>

  {% if ingredient_detail.dishes.exists %}
    <section class="section">
      <div class="list__box _container">
        <h3 class="second__title">
          <span class="fade">D</span><span class="fade">i</span><span class="fade">s</span><span class="fade">h</span><span class="fade">e</span><span class="fade">s</span>
        </h3>
        <ul>
          {% for dish in page_obj %}
            <li class="list__item hover__list">
              <a class="list__link hover__elem" href="{% url 'kitchenflow:dish-detail' dish.id %}">{{ dish }}</a>
            </li>
          {% endfor %}
        </ul>
        {% include 'includes/pagination.html' %}
      </div>
    </section>
  {% else %}
    <span class="no__text">No dishes</span>
  {% endif %}
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'js/personal_page_anim.js' %}"></script>
{% endblock %}
