<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block title %}
  <title>Kitchen service</title>
  {%  endblock %}
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block extra_styles %}
  {% endblock %}
</head>
<body>
<div class="wrapper">
  {% block header %}
    {% include "includes/header.html" %}
  {% endblock %}
  <div class="content">
    <main class="main__content">
      {% block content %}{% endblock %}
    </main>
  {% if is_home %}
    <footer class="footer">
      <div class="footer__box _container">
        <p class="footer__text">
          <span class="fake__letter">É</span>
          <span class="project__right">&#xa9;</span><span class="inner__footer__text">S<em>Élise<span class="k__s__text"><span class="fade__word__foot fade">k</span><span class="fade__word__foot fade">i</span><span class="fade__word__foot fade">t</span><span class="fade__word__foot fade">c</span><span class="fade__word__foot fade">h</span><span class="fade__word__foot fade">e</span><span class="fade__word__foot fade">n</span> <span class="fade__word__foot fade">s</span><span class="fade__word__foot fade">e</span><span class="fade__word__foot fade">r</span><span class="fade__word__foot fade">v</span><span class="fade__word__foot fade">i</span><span class="fade__word__foot fade">c</span><span class="fade__word__foot fade">e</span></span></em></span>
        </p>
      </div>
    </footer>
  {% endif %}
    <script src="{% static 'gsap/gsap.min.js' %}"></script>
    <script src="{% static 'gsap/ScrollTrigger.min.js' %}"></script>
    <script src="{% static 'gsap/ScrollSmoother.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_scripts %}
    {% endblock %}
  </div>
</div>
</body>
</html>