{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block title %}
  <title>Kitchen service</title>
  {%  endblock %}
  <link rel="icon" href="{% static 'images/icon.svg' %}">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block extra_styles %}
  {% endblock %}
</head>
<body>
{#<div id="cursor"></div>#}
<div class="wrapper">
  {% block header %}
    {% include "includes/header.html" %}
  {% endblock %}
    <main class="main__content">
      {% if not list %}
        <div class="content">
      {% endif %}
          {% block content %}{% endblock %}
      {% if not list %}
        </div>
      {% endif %}
    </main>
    <script>
      window.isListPage = {{ list|yesno:"true,false" }};
    </script>
    <script src="{% static 'gsap/gsap.min.js' %}"></script>
    <script src="{% static 'gsap/ScrollTrigger.min.js' %}"></script>
    <script src="{% static 'gsap/ScrollSmoother.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_scripts %}
    {% endblock %}
</div>
</body>
</html>
